body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url('../font/Material-Design-Iconic-Font.eot');
}

@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url('../font/Material-Design-Iconic-Font.svg');
}

@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url('../font/Material-Design-Iconic-Font.ttf');
}

@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url('../font/Material-Design-Iconic-Font.woff');
}

@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url('../font/Material-Design-Iconic-Font.woff2');
}

 p { 
    color:#111;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
} 

 
a {
    outline: none;
}

a:hover {
    text-decoration: none;
}

 
/* header */
header {
    background:transparent;
    /*! box-shadow: 0 1px 5px 0 rgba(59, 130, 255, 0.18); */
}

.mlr-15{ margin: 0 15px!important;}
.mrl-15{ margin: 0 15px!important;}




/* BOTTOM BARS ================================= */


/* :::::::::::::::: thank-you::::::::::::::::::::::::::: */

/*=============================================================================
===============================================================================
                        Responsive CSS
===============================================================================
=============================================================================*/








/*=============================================================================
===============================================================================
                        Responsive CSS
===============================================================================
=============================================================================*/


































