
.clndr-area{width: 100%;display: flex;min-height:400px;/*! -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.21); *//*! -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.21); *//*! box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.21); */}
.clndr-area .clndr-left{flex-basis:16.33333334%; margin-right:0.33333333%; padding:10px; background:#FBFCFD; border-left:1px solid #fff;}
.clndr-area .preparecalendar {font-size: 14px;flex-basis:68%;margin:0 0.5% 0 0;}
.clndr-area .col-tab-rigt{flex-basis: 32%; margin-right:0;}

 

.chk [type="checkbox"]:not(:checked), .chk [type="checkbox"]:checked{position: absolute; left: -9999px;}
    .chk [type="checkbox"]:not(:checked) + label, .chk [type="checkbox"]:checked + label{position: relative;padding-left: 25px;line-height: 23px; color:#18d008; cursor: pointer;font-size: 13px; font-weight: 800; outline: none;}
    /* checkbox aspect */
    .chk [type="checkbox"]:not(:checked) + label:before, .chk [type="checkbox"]:checked + label:before {content: ''; position: absolute; left: 4px; top:5px;width:18px;height:18px; border:0px solid #999; background: none; border-radius:3px; box-shadow: inset 0 1px 3px rgba(94, 77, 77, 0.0); outline: 0px;outline-style: none;outline-width: 0px;}
    /* checked mark aspect */
    .chk[type="checkbox"]:focus{
        outline:0!important;
    }
    .calendar-month-header{background: #f1f8fc; padding:5px 0; border: 1px solid #dee2e6;}  
    /* checked mark aspect changes */
    .chk [type="checkbox"]:not(:checked) + label:after{opacity: 0;transform: scale(0);}
    .chk [type="checkbox"]:checked + label:after{opacity: 1;transform: scale(1);}
    .chk [type="checkbox"]:checked + label:after {  content: '\f00c';
        font-family: FontAwesome;position: absolute;top:10px;left:6px;font-size:13px;text-align:center;line-height:8px;color: #337ab7;transition: all .2s;}
    
    /* disabled checkbox */
    .chk [type="checkbox"]:disabled:not(:checked) + label:before, .chk [type="checkbox"]:disabled:checked + label:before{ box-shadow: none; border-color: #bbb; background-color: #ddd;}
    .chk [type="checkbox"]:disabled:checked + label:after{color: #999;}
    .chk [type="checkbox"]:disabled + label{color: #aaa; }
    /* accessibility */
    .chk [type="checkbox"]:checked:focus + label:before, .chk [type="checkbox"]:not(:checked):focus + label:before {border: 1px dotted #46b6fe;   }
    /* hover style just for information */.chk label:hover:before{/*! border: 1px solid #46b6fe !important; */}
    .chkdiv label{display:-webkit-inline-box;}
     
    .chk .mbsc-ic{font-size:13px;}
    .padding-top78 {padding-top:78px!important;}
    .textof {text-overflow: ellipsis!important; white-space: nowrap; overflow:hidden}
    
    
    .clndr-area{width: 100%;}
    .clndr-area .clndr-left{flex-basis:16.33333334%; margin-right:0.33333333%; padding:10px; background:#FBFCFD; border-left:1px solid #fff;}
    .clndr-area .preparecalendar {font-size:14px;margin:0 0.5% 24px 0;float:left; width:68%}
    .clndr-area .col-tab-rigt{width:31.5%;float:left;}
    .clndr-area .col-tab-rigt .col-tab-rigt{width:100%}
    .preparecalendar p {font-size: 14px;}
    .preparecalendar .nav-tabs { border-bottom:0px solid #DEE7EE;background:#EDF1F5; font-weight:600;font-size:16px; }
    .preparecalendar .nav-tabs>li.active>a, .preparecalendar .nav-tabs>li.active>a:focus, .preparecalendar .nav-tabs>li.active>a:hover {border-width: 0;}            
    .preparecalendar .nav-tabs>li>a { border: none; color: #313131; padding: 8px 15px; }            
    .preparecalendar .nav-tabs>li.active>a, .preparecalendar .nav-tabs>li>a:hover {border:none;color:#5065d3 !important; background:transparent;}            
    .preparecalendar .nav-tabs>li>a::after {content: "";background: #5065d3; height: 3px; position: absolute; width: 100%;  left: 0px;bottom: -1px;transition: all 250ms ease 0s;  transform: scale(0); }
    .preparecalendar .nav-tabs>li.active>a::after, .preparecalendar .nav-tabs>li:hover>a::after {transform: scale(1);}            
    .preparecalendar .tab-nav>li>a::after {background: #e6f4fb none repeat scroll 0% 0%; color:#003366;}            
    .preparecalendar .tab-pane {padding: 15px 0; float:left; width:100%;}            
    .preparecalendar .tab-content {width:100%; float:left}  .preparecalendar .btn-group{width:auto !important;}                
    .row.no-gutters {margin-right: 0;margin-left: 0; }            
    .row.no-gutters>[class^="col-"], .row.no-gutters>[class*=" col-"] {padding-right: 0;padding-left: 0;}            
    .preparecalendar {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); margin-top:0px;}
     
    .clndr-area .fullcard {flex-basis: 100%!important;}
    .jb1{ color:#00CCFF;}
    .jb2{ color:#57B7FF;}
    .jb3{ color:#71A2FF;}
    
    .set ul{ padding-left:15px;}
    .set ul li{ list-style:none; padding:6px;}
    .uavailabl1{ color:#D53030;}
    .uavailabl2{ color:#DC5353;}
    .uavailabl3{ color:#E37777;}
    .uavailabl4{ color:#ECA3A3;}
    .uavailabl5{ color:#F3C6C6;}
    
    .availabl1{ color:#8f9992;}
    .availabl2{ color:#1651af;}
    .availabl3{ color:#ffde3a;}
    .availabl4{ color:#966207;}
    .availabl5{ color:#444947;}
    @media (min-width: 310px) {
    
    .preparecalendar .nav-tabs.nav-justified>li a { margin-bottom: 0px;outline: none;}
    }                    
    div.eve_calendar { margin: 0;padding: 0;}
    div.eve_calendar .table { width:100%; margin:0; padding:0;}
    div.eve_calendar .table th, div.eve_calendar .table td {padding: 4px 8px 5px 1px;text-align:center;}
    
    div.eve_calendar .table tr.calendar-month-header th {background-color:#fff; color:#5a8bae}
    div.eve_calendar .table tr.calendar-month-header th span {cursor:pointer;display:inline-block;}
    div.eve_calendar .table tr.calendar-day-header th {background-color:#F3F5F8; color:#5a8bae}
    div.eve_calendar .table tr:last-child {border-bottom:1px solid #DEE7EE;}
    div.eve_calendar .table tr.calendar-month-header th {padding-top:4px;padding-bottom:4px;}
    div.eve_calendar .table-bordered tr.calendar-month-header th {border-left:0; border-right:0;}
    div.eve_calendar .table-bordered tr.calendar-month-header th:first-child {border-left:1px solid #DEE7EE;}
    div.eve_calendar div.calendar-month-navigation {cursor: pointer;margin: 0;padding: 0;padding-top:0px; color: #93A9BE;}
    div.eve_calendar div.calendar-month-navigation:hover {color: #003366;}
    div.eve_calendar tr.calendar-day-header th, div.eve_calendar tr.calendar-dow td {width: 14%;}
    .clndr-td div.day { text-align:center;height:88px; line-height:86px;font-size:14px; font-weight: 600; }div.eve_calendar div.calendar-month-navigation span .fa{font-size:30px;}
    .badge-job {
      background-color: #37bbe4!important;
      color: #ffffff;
      text-shadow: none;
    }
    
    
    /* actions and events */
    .clndr-td.event div.day,
    div.eve_calendar ul.legend li.event {background-color:#fff0c3;}
    .clndr-td.dow-clickable,
    .clndr-td.event-clickable {cursor:pointer;}
    /* badge */
    div.eve_calendar .badge-today,
    div.eve_calendar div.legend span.badge-today { background-color:#357ebd; color:#ffffff; text-shadow:none;}
    div.eve_calendar .badge-event,
    div.eve_calendar div.legend span.badge-event {background-color:#ff9b08; color:#ffffff; text-shadow:none;}
    div.eve_calendar .badge-event {font-size:0.95em; padding-left:8px;padding-right:8px;padding-bottom:4px;}
    div.eve_calendar .badge-job, div.eve_calendar div.legend span.badge-job {background-color:#37bbe4; color:#ffffff; text-shadow:none;}
    div.eve_calendar .badge-job {font-size:0.95em; padding-left:8px; padding-right:8px;padding-bottom:4px;}
    /* legend */
    div.eve_calendar div.legend {margin-top:0px;text-align:right;}
    div.eve_calendar div.legend span {color:#999999;font-size:10px;font-weight:normal;}
    div.eve_calendar div.legend span.legend-text:after, div.eve_calendar div.legend span.legend-block:after, div.eve_calendar div.legend span.legend-list:after, div.eve_calendar div.legend span.legend-spacer:after {content:' ';}
    div.eve_calendar div.legend span.legend-spacer {padding-left:25px;}
    div.eve_calendar ul.legend > span {padding-left:2px;}
    div.eve_calendar ul.legend {display:inline-block; list-style:none outside none; margin:0; padding:0;}
    div.eve_calendar ul.legend li {display:inline-block; height:11px; width:11px; margin-left:5px;}
    div.eve_calendar ul.legend
    div.eve_calendar ul.legend li:first-child {margin-left:7px;}
    div.eve_calendar ul.legend li:last-child {margin-right:5px;}
    div.eve_calendar div.legend { margin-top:10px; margin-bottom:10px;}
    div.eve_calendar div.legend span.badge {font-size:0.9em; border-radius:5px 5px 5px 5px;padding-left:5px;padding-right:5px;padding-top:2px;padding-bottom:3px;}
    
    
    .clndr-area .fullcard {flex-basis: 100%!important;margin: 0 0% 0 0;}    
    .clndr-area .fullcard .table tr td {border: 1px solid #DEE7EE;height: 104px;}   
    .clndr-area .fullcard .table tr td .td-area{width:100%;}   
    .clndr-area .fullcard .table tr td .td-left{width:24px;float:left; height:84px;} 
    .clndr-area .fullcard .table tr td div.day{text-align:right; font-size:15px;color:#555; float:right; width:auto;}  
    .clndr-area .fullcard .table tr td .td-bottom{width:100%;float:left; height:20px;} 
    
    
    
    .job-nbr-com {font-size:11px; margin:2px; min-width:18px;display:block;line-height:21px; text-align:center; width:20px; height:20px; color:#FFFFFF; background-color:#00CCFF; border-radius:4px;z-index: 99; position: relative;}
    .job-nbr-aply {font-size:11px; margin:2px; min-width:18px;display:block;line-height:21px; text-align:center; width:20px; height:20px; background-color:#57B7FF; color:#FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    .job-nbr-book {font-size:11px; margin:2px; min-width:18px;display:block;line-height:21px; text-align:center; width:20px; height:20px; background-color:#71A2FF; color:#FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    
    
    .avlbl-nbr-1 {font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #8f9992; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    
    .avlbl-nbr-2 {font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #1651af; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    .avlbl-nbr-3 {font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #ffde3a; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    .avlbl-nbr-4 {font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #966207; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    .avlbl-nbr-5{font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #444947; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    
    .unavlbl-nbr-1 {font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #D53030; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    .unavlbl-nbr-2 {font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #DC5353; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    .unavlbl-nbr-3 {font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #E37777; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    .unavlbl-nbr-4 {font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #ECA3A3; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    .unavlbl-nbr-5{font-size: 11px;float:left; margin: 2px; min-width: 18px;display:block;line-height:21px; text-align: center; width:20px; height:20px; background-color: #F3C6C6; color: #FFFFFF; border-radius:4px;z-index: 99; position: relative;}
    
    
    
    .modal-xs{ width:40%!important}
    /* responsive */
    @media (max-width: 979px) {div.eve_calendar .table th, div.eve_calendar .table td {padding:0px 1px 4px;}
    .modal-xs{ width:60%!important}
    }
    .po1{ padding:0px!important}
    .head-lngh{line-height:39px;font-size: 1.125em; letter-spacing:0.5px;}
    .marks{ white-space:nowrap;}
    .marks{position:relative; left:0;right:0;height:.505em; margin-top:-0.135em; overflow:hidden; white-space:nowrap;}
    .job-mark {width: .505em; height: .50em; border-radius: .505em; background: #37bbe4;  display: inline-block; vertical-align: top;}
    .event-mark {width: .505em; height: .50em; border-radius: .505em; background: #ff9b08;  display: inline-block; vertical-align: top; margin-right:5px;}
    .event-card{background: #FFF none repeat scroll 0% 0%;  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; margin-top: 7px; margin-left: -15px; margin-right: -15px;}
    .clndr-td.active {background: #e6f4fb;color:#00477b; border:1px solid #a8c8e0; font-weight:600;}
    .clndr-td.available_show {background: #F1FCF5;color:#339933; border:1px solid #339933; font-weight:600;}
    .clndr-td.unavailable_show {background: #FAEBEB;color:#993333; border:1px solid #993333; font-weight:600;}
    .clndr-td:hover,chkdiv:hover {background: #EEF8FC!important;} .clndr-td.active:hover {background: #e6f4fb;color:#00477b; border:1px solid #a8c8e0; font-weight:600;}
    .event-show{width: 100%;
    float: left;
    text-align: left;
    border-left: 1px solid #DEE7EE;
    height:100vh;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: auto;
    scrollbar-width: thin;}
    .event-show .eve-day {color:#5065d3;font-weight:bold;}
    .eve-title {margin-top:-1px; padding:2.333334em 1.333334em .5em 1.333334em; background:#e6f4fb;color:#00477b; font-size:.95em; line-height:1.5em;text-transform:uppercase; border-top:1px solid #C1CED9; border-bottom:1px solid #C1CED9; padding:.5em 1em; line-height:1.5em;}
    .eve-title {position:relative;z-index:3;display:block;}
    .eve-item::after {bottom:0;}
    .eve-item::before, .eve-item::after {border-top: 1px solid #C1CED9; content: ""; position: absolute; right: 0; left:0.6em;}
    .eve-item::before {top:0;}
    .eve-item {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; font-size:.975em; padding:.714286em 1em;}
    .eve-item {margin-top:-1px; padding:1em; background:#fff; color:#313131; font-weight:normal; text-shadow:none;}
    .eve-item {position:relative; z-index:2;list-style:none;  box-sizing:border-box;}
    .eve-time {text-align: right;}
    .eve-time {width: 6em; line-height: 1.6; opacity: .7;font-size:.788em;}
    .eve-color, .eve-time {-webkit-box-flex: 0;-webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto;}
    .eve-color { width: 1.5px; margin: -.285714em .714286em;}
    .eve-color, .eve-time {-webkit-box-flex: 0;-webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto;}
    
    .switch {position:relative;}
    .switch input {position:absolute; height:1px; width:1px; background:none;border:0; clip:rect(0 0 0 0); clip-path:inset(50%); overflow:hidden;padding:0;}
    .switch input + label {position:relative; min-width:calc(calc(2.375rem * .8) * 2); border-radius: calc(2.375rem * .8); height: calc(2.375rem * .8); line-height: calc(2.375rem * .8); display: inline-block; cursor: pointer;outline: none; user-select: none; vertical-align: middle;color:#aaa;  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);}
    .switch input + label::before, .switch input + label::after {content: '';position: absolute;top: 0; left: 0; width: calc(calc(2.375rem * .8) * 2);bottom: 0;display: block;}
    .switch input + label::before {right: 0;background-color: #999; border-radius: calc(2.375rem * .8);transition: 0.2s all;}
    .switch input + label::after {top: 2px; left: 2px; width: calc(calc(2.375rem * .8) - calc(2px * 2)); height: calc(calc(2.375rem * .8) - calc(2px * 2)); border-radius: 50%; background-color: white; transition: 0.2s all;}
    .switch input:checked + label::before {background-color: #00477b;}
    .switch input:checked + label::after {margin-left: calc(2.375rem * .8);}
    .switch input:focus + label::before {outline: none;box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);}
    .switch input:checked + label {color: #00477b;}
    .switch input:disabled + label::before {background-color: #e9ecef;}
    .switch-normal{display:none;}
    .modal-body{ background: #fff; /*! float:left; */ /*! width:100%; */}
    #seletionfilter{ float: left; width:100%; margin-top:15px;}
    #seletionfilter .mb10{margin-bottom: 10px;}
    .clndr-td div.day {padding-top:5px; padding-bottom:3px;color: #333;}
    .clndr-td:hover .chk  { display:block;visibility:visible; }
     
    .clndr-td .chk:checked { display:block;visibility:visible;  }
    .clndr-td .chk [type="checkbox"]:not(:checked) + label:before{left:-7px;top: 11px;/*! border: 1px solid #104070; */ visibility: hidden;}
    .clndr-td .chk:hover [type="checkbox"]:not(:checked) + label:before{left:5px;top:11px;/*! border: 1px solid #104070; */ visibility: visible;}
    
    .clndr-td .chk [ type="checkbox"]:checked + label:before {left:-9px;top:30px;border: 1px solid transparent!important; visibility: visible;}
    
    .clndr-td:hover .chk [type="checkbox"]:not(:checked) + label:before,
     .clndr-td:hover .chk [ type="checkbox"]:checked + label:before {left:5px;top:11px;/*! border: 1px solid #104070; */ visibility: hidden;}
       
    .clndr-td .chk [type="checkbox"]:not(:checked) + label:after, .clndr-td  .chk [ type="checkbox"]:checked + label:after {
      content: '✔'; position: absolute; top:27px; left:-10px; font-size: 12px; line-height: 0.8; color: #18d008;transition: all .2s;visibility: visible;}
    .clndr-head .chk  { margin-top:-6px } 
    .clndr-head .chk [type="checkbox"]:checked + label::before{visibility: hidden;}
    .clndr-head:hover .chk  { display:block;visibility:visible; margin-top:-6px; outline: 0px;}
    
    .clndr-head .chk:checked { display:block;visibility:visible;  }
    .clndr-head .chk [type="checkbox"]:not(:checked) + label:before{left:5px;top: 4px;border: 1px solid transparent; visibility: hidden;}
    
    
    .clndr-head .chk [type="checkbox"]:not(:checked) + label:after, .clndr-head .chk [ type="checkbox"]:checked + label:after {
      content: '✔'; position: absolute; top:8px; left:9px; font-size: 12px; line-height: 0.8; color: #18d008;transition: all .2s;visibility: visible;}
     
    
    div.eve_calendar .btn-group {   
        width:auto !important;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .0);
        border:0px solid #eee;
        margin:0px 0 0px;
        border-radius: 8px;
    }
    .availabl {color:#339933;}
    .unavailabl {color:#993333;}
    
    
      @media (max-width:998px) {
        .clndr-area{width: 100%;display:block;min-height:200px;float: left;}
        .clndr-area .preparecalendar {font-size:14px;margin:0 0.0% 24px 0;float:left; width:100%}
        
        .clndr-area .col-tab-rigt{width:100%; display:block; margin-right:0;float: left;}
        
        }
       
    /* responsive */
    
    
    
    
    .med-agenda table {border-collapse: separate;}
    .med-widget-header { background: none;padding:3px 5px;color:#5065d3; text-align:right; font-size:13px;}
    .med-agenda-axis {width:56px;vertical-align:middle;text-align:right;	white-space:nowrap;	font-weight:600; 	}
    .med-day-content {padding:3px 5px 3px;background: #ebf6fc;}
        
    /* make axis border take precedence */
        
    .med-agenda-days .med-agenda-axis {border-right-width: 1px;}	
    .med-agenda-days .med-col0 {border-left-width: 0;}
    .med-minor td{border-top: 1px dotted #C1CED9;margin-top:-1px}	
    /* all-day area */
        
    .med-agenda-allday th {border-width:0 1px;}	
    .med-agenda-allday .med-day-content {min-height:34px;	_height:34px;}
        
    /* divider (between all-day and slots) */
        
    .med-agenda-divider-inner {height:2px;overflow:hidden;}	
    .med-widget-header .med-agenda-divider-inner {background: #eee;}
        
    /* slot rows */
        
    .med-agenda-slots th {border-width: 1px 1px 0;}
        
    .med-agenda-slots td {border-width: 1px 0 0;height:28px; vertical-align:top;
      background: rgb(230,244,251); /* Old browsers */
      background: -moz-linear-gradient(left, rgba(230,244,251,1) 0%, rgba(232,253,246,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(230,244,251,1) 0%,rgba(232,253,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(230,244,251,1) 0%,rgba(232,253,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f4fb', endColorstr='#e8fdf6',GradientType=1 ); /* IE6-9 */}
        
    .med-agenda-slots td div {height: 0;	}
        
    .med-agenda-slots tr.med-slot0 th, .med-agenda-slots tr.med-slot0 td {border-top-width: 0;}
        .med-agenda-slots tr.med-minor th.ui-widget-header {*border-top-style: solid; }	
      .med-widget-content {border: 1px solid #C1CED9;}
      
      .med-event-inner {
        font-family:sans-serif;
          background: #f0ad4e!important;
          color: #FFF!important;
          font-size: 12px!important;
          font-weight: 500!important; margin-right:10px; cursor: pointer;
          padding: 5px 4px!important;  display:block; height:26px!important;
          float:left;
          width:100%;
    
      }
    .med-event-time {
        white-space: nowrap;
        font-size: 10px;
        }
       
      .med-event-inner {
          line-height: 15px;
      }
      .med-event-inner:hover{  background:#e99b2d!important;}
      .med-job-inner{
        line-height: 15px;font-family:sans-serif;
        background: #37bbe4!important;
        color: #FFF!important;
        font-size: 12px!important;
        font-weight: 500!important; margin-right:10px; cursor: pointer;
        padding: 5px 4px!important;  display:inline-block; height:26px!important}
    .med-job-inner:hover{background: #00d3fe!important;}
    
    .eventedit{cursor:pointer;}
    .eventedit:hover { cursor: pointer; background: url(/pencil.png) no-repeat right center;}
    .dropdown-menu{padding:5px 8px;}
    .dropdown-menu p{margin-bottom:0px;}
    .dropdown-menu li{cursor:pointer}
     .clndr-area .fullcard .slim-td tr td {height:auto;padding: 2px 8px; border:0px; border:1px solid #ddd;vertical-align: middle;}
     .fullcard .bootstrap-select {
        width: 220px!important;
    }
    #list_view .bootstrap-select {
        width: 220px!important;
    }
    .med-widget-content .td-left{width:auto;float:left; height:auto;} 
    .med-widget-content .td-bottom{width:auto;float:left; height:auto;} 
    .med-widget-content .job-nbr-com {font-size:11px; margin:2px; min-width:18px;display:block;line-height:21px; text-align:center; width:20px; height:20px; color:#FFFFFF; background-color:#00CCFF; border-radius:4px;float: left;}
    .med-widget-content .job-nbr-aply {font-size:11px; margin:2px; min-width:18px;display:block;line-height:21px; text-align:center; width:20px; height:20px; background-color:#57B7FF; color:#FFFFFF; border-radius:4px;float: left;}
    .med-widget-content .job-nbr-book {font-size:11px; margin:2px; min-width:18px;display:block;line-height:21px; text-align:center; width:20px; height:20px; background-color:#71A2FF; color:#FFFFFF; border-radius:4px;float: left;}
    .med-agenda-slots td div {height: auto;}
    
    td .plus{color:#999; display: none; position: absolute; text-align: center;line-height:105px;background:#e6f4fb;width:13.7%;height:106px; margin-left: -7.3%; z-index:9;}
    td:hover .plus{display:inline-block;}
    .fa-2x{font-size:34px;}
    .job-nbr-com:hover,.job-nbr-aply:hover,.job-nbr-book:hover,.avlbl-nbr-1:hover,.avlbl-nbr-2:hover,.avlbl-nbr-3:hover,.avlbl-nbr-4:hover,.avlbl-nbr-5:hover,.unavlbl-nbr-1:hover,.unavlbl-nbr-2:hover,.unavlbl-nbr-3:hover,.unavlbl-nbr-4:hover,.unavlbl-nbr-5:hover {background-color:#ccc!important; color:#000!important; border-radius:3px!important;}
    
    .l_blue{background: #f1f8fc}
    .ms-choice {
        height: 32px;
        text-decoration: none;
        -webkit-border-radius: px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background-color: #fff;
        line-height: 30px;
    }
    
    .ms-parent.form-control {
        padding: 0px;
    }
    
    li input[type="checkbox"], li input[type="radio"] {
        position: relative;
        margin-right: 5px;
    }
    
    .clndr-area .fullcard .slim-td tr td {
        height: auto;
        min-width: 27px;
    }
    
    .slim-td td:first-child {
        padding: 1px 5px !important;
        vertical-align: middle !important;
    }
    
    .slim-td td {
        padding: 1px !important;
        vertical-align: middle !important;
    }
    
    .slim-td .tday-head th {
        border: 1px solid #DEE7EE;
        border-top-color: rgb(222, 231, 238);
        border-top-style: solid;
        border-top-width: 1px;
        color: #00477b;
        vertical-align: middle !important;
        background: #F6F8FB !important;
    }
    
    .slim-td .tx-blu {
        color: #00477b;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    
    .slim-td span.badgeevent {
        background-color: #ff9b08;
        color: #ffffff;
        text-shadow: none;
    }
    
    .slim-td span.badgejob {
        background-color: #37bbe4;
        color: #ffffff;
        text-shadow: none;
    }
    
    .pul-lft {
        float: left;
        width: 80%;
        text-align: left;
        color: #00477b;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    
    .pul-rgt {
        float: right;
        width: 20%;
        text-align: right;
    }
    
    .slim-td .sccess {
        background: #8f9992 !important;
        font-size: 12px;
        font-weight: 600;
        color: #FFF;
    }
    
    .slim-td .unsuccess {
        background: #D53030 !important;
        font-size: 12px;
        font-weight: 600;
        color: #FFF;
    }
    
    .avil1 {
        background: #8f9992;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    
    
    .avil2 {
        background: #1651af;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .avil3 {
        background: #ffde3a;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .avil4 {
        background: #966207;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .avil5 {
        background: #444947;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .uavil1 {
        background: #D53030;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .uavil2 {
        background: #DC5353;
        ;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .uavil3 {
        background: #E37777;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .uavil4 {
        background: #ECA3A3;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .uavil5 {
        background: #F3C6C6;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .jb-1 {
        background: #00CCFF;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .jb-2 {
        background: #57B7FF;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    .jb-3 {
        background: #71A2FF;
        margin: 1px 0;
        width: 100%;
        display: block;
        height: auto;
        height: 6px;
    }
    
    
    .slimtd tr td {
        border: 1px solid #DEE7EE !important;
        border-top-color: rgb(222, 231, 238);
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: rgb(222, 231, 238);
        border-top-style: solid;
        border-top-width: 1px; 
    }
    
    .candidateAllChk .chk [type="checkbox"]:not(:checked) + label::before {  
    visibility: visible;
    }
    
    
    .bdr_b1{border-bottom:1px solid #eee}
    .pt-0{padding-top:0px!important}
    .none_area {display:none;height:63vh; overflow-x:hidden;float:right; overflow-y:auto;width:100%; border-top:1px solid #eee; scrollbar-width:thin;}
    .dayclick .btn-group {float:right;}
    .dayclick .plsidrop {font-size:24px;color:#fff; z-index:999999999; opacity:0; position:absolute;right:0; cursor: pointer;}
    .dayclick:hover .plsidrop {float:right;margin-top:5px;font-size:24px;color:#37bbe4;z-index:99999999; opacity:1;position:absolute;right:0;}
    .dayclick .dropdown-toggle::after {content: none;}
    
    /* .inputGroup {display:inline; text-align:left; margin:0px 2px 0px; border-radius:4px;position:relative;}
    .inputGroup label {padding:8px 30px 8px 8px; margin:0px;border-radius:4px; display:block; text-align:left; cursor:pointer; position:relative; z-index:2; font-size:13px; 
        transition:color 200ms ease-in;overflow:hidden;color:#fff!important}
    .inputGroup label:before {width:10px;height:10px;border-radius: 50%;content:'';background-color: #2f65a1;position:absolute;left:50%;top:50%;-webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transform:translate(-50%, -50%) scale3d(1, 1, 1);transition:all 300ms cubic-bezier(0.4, 0, 0.2, 1);opacity:0;z-index:-1;}
    .inputGroup label:after {width:20px;height:20px;content:''; border:2px solid rgba(0,0,0,0.3);background-color:#fff; background-image:url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");background-repeat:no-repeat; background-position:0px 0px; border-radius:50%; z-index:2; position:absolute; right:10px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%); cursor:pointer;transition:all 200ms ease-in;}
    .inputGroup input:checked ~ label {color:#fff;}
    .inputGroup input:checked ~ label:before {-webkit-transform:translate(-50%, -50%) scale3d(56, 56, 1);transform:translate(-50%, -50%) scale3d(56, 56, 1);opacity:1;}
    .inputGroup input:checked ~ label:after {background-color:#01c9ca;border-color:#01c9ca;}
    .inputGroup input {width:28px;height:28px;order:1;z-index:2;position:absolute;right:10px;top: 50%;-webkit-transform:translateY(-50%);transform: translateY(-50%);cursor:pointer;visibility:hidden;} */
    .bgcol-white {background-color:#f5f5f5 !important; color:#104070!important;}.bgbdr-white {background-color:#fff !important; color:#104070!important;}
    .bgbdr-white label{color:#104070!important}.bgcol-white label{color:#104070!important}.size-mark {width:11px;height:11px; display:inline-block;vertical-align:top; margin-right:1px;}
    .bgcol-white input:checked ~ label {color:#fff!important;}.bgbdr-white input:checked ~ label {color:#fff!important;}
    .marks{height:11px;}
    .bgcol-white {background-color:#fff !important; color:#104070;}.bgbdr-white {background-color:#fff !important; color:#104070;}
    .bg-red {background-color:#ee2558 !important;color:#fff}
    .bg-purple {background-color:#6f42c1 !important;color:#fff}
    .bg-orange {background-color:#FF9948 !important;color:#fff}
    .bg-blue-grey {background-color:#607D8B !important;color:#fff}
    .bg-lime {background-color:#82c885 !important;color:#fff}
    .bg-brown {background-color:#795548 !important;color:#fff}
    .bg-blush {background-color:#e47297 !important;color:#fff}
    .size-mark {width:5px;height:6px; display:inline-block;vertical-align:top; margin-right:0px;}
    .marks{height:6px;}
    
    
    .mb-15px{margin-bottom:15px;}
    .lv-item h4{margin:0px; color:#104070; font-size:18px}.lv-item p{margin-bottom:0px;}
    .lv-item {background: #fff;border-bottom:1px solid #ddd;color:#999; padding: 1em; font-weight: normal; text-align: left; text-shadow: none;padding-left:4.55em;}
    .lv-item-icon {position:absolute;margin-top:-46px; height:2em;line-height:2.05em!important;text-align: center;left:1em;font-size:30px!important;color:#ccc;}
    .mrgn-tb-20px{margin-top:20px; margin-bottom:20px;} 
    
    /*for calendar*/
    .size-mark.cnd-cldr-jobs {
        background-color: #607D8B !important;
    }
    
    .size-mark.cnd-cldr-tasks {
        background-color: #FF9948 !important;
    }
    
    .size-mark.cnd-cldr-available {
        background-color: #82c885 !important;
    }
    
    .size-mark.cnd-cldr-unavailable {
        background-color: #ee2558 !important;
    }
    
    .size-mark.cnd-cldr-payment {
        background-color: #795548 !important;
    }
    
    .size-mark.cnd-cldr-expense {
        background-color: #e47297 !important;
    }
    
    .size-mark.cnd-cldr-reminder {
        background-color: #6f42c1 !important;
    }
    
    
    .clndr-td {border:1px solid #DEE7EE!important;height:102px; padding-left:2px; padding-right:2px; text-align:center;background: #fff;}
    .font-36{font-size:36px;}
    

    .clndr-head{background-color:#F3F5F8;color:#5a8bae; height:50px; padding-top:5px; border: 1px solid #DEE7EE !important; text-align:center;padding-left:2px; padding-right:2px;font-weight: bold;}
    .eve-item .editdelethover{float:right;visibility:hidden; position:absolute;right:5px; margin-top: -8px;}
.eve-item:hover .editdelethover{float:right;position:absolute;right:5px;visibility:visible; }

.eve_calendar .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
    margin-right: -15px;
    margin-left: -15px;
}
.eve_calendar .col {
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    max-width:100%
   }
.eve_calendar .col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.eve_calendar .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.btn-outline-primary {color:#01458e !important; border:1px solid #01458e; background:#fff;}.btn-outline-primary:hover{color:#fff!important;background:#01458e;}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {color: #fff!important;}


.clscellheight {
    height: 20px!important;  
    line-height: 20px!important;
}

.inputGroup label {
    padding-left: 36px !important
}
