.ui-timepicker-wrapper {
    z-index: 999999999 !important;
}

.leave_abst {
    padding: 37px 5px 0;
    position: relative;
    text-align: center;
    height: 155px;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.8);
}

.bg-one {
    background: #e9f3fd;
    color: #001850;
}

.bg-two {
    background: #d5e7fa;
    color: #001850;
    border-right: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.8);
}

.bg-three {
    background: #bcd6f5;
    color: #001850;
}

.leave_abst h3 {
    font-size: 10px;
    font-weight: 800;
    color: #001850 !important;
    margin: 2px 0 8px 0;
}

.leave_abst p {
    font-size: 15px;
    color: #333;
    line-height: 18px;
    margin: 0 0 3px 0;
}

.abs-tocon .bootstrap-select {
    width: auto !important;
}

.bdr-lft1 {
    border-right: 1px solid #ddd;
}

.bdr-lftn {
    border-left: 0px solid #ddd;
}

.cross {
    background: #B7BFD0 !important;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #fff !important;
    border-radius: 32px !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0px;
    top: 7px;
    cursor: pointer;
    z-index: 9;
}

.font-28 {
    font-size: 24px;
    line-height: 34px;
}

.frstdiv .i_action {
    background: #f2f8fe;
}

.accordion .panel-heading a:after {
    float: right;
    font-family: 'Material-Design-Iconic-Font';
    content: "\f2f7";
    font-size: 32px;
    margin-top: -10px;
}

.accordion .panel-heading.collapsed a:after {
    content: "\f2f1";
    font-size: 32px;
    float: right;
    font-family: 'Material-Design-Iconic-Font';
    margin-top: -10px;
    transition: all 0.5s;
    opacity: 0.7;
}

.accordion .panel-heading.collapsed {
    background: #f5faff;
    color: #001850;
}

.accordion .panel-heading {
    background: #e9f3fd;
    color: #001850;
}

.accordion .panel-title {
    background-color: transparent !important;
    font-size: 18px !important;
    border-bottom: 1px solid #d5e7fa !important;
    color: #001850 !important;
}

.accordion .panel-heading.collapsed .panel-title {
    border-bottom: 0px solid #f0f0f0 !important;
}

.accordion .panel-primary .panel-title {
    font-size: 18px !important;
}

.wd-180px {
    color: #04468E;
    float: left;
    width: 180px;
    font-weight: 500;
    font-size: 16px;
}

.bdr_b1 {
    border-bottom: 1px solid #eee;
}

.pt-0 {
    padding-top: 0px !important;
}

.none_area {
    display: none;
    height: 63vh;
    overflow-x: hidden;
    float: right;
    overflow-y: auto;
    width: 100%;
    border-top: 1px solid #eee;
    scrollbar-width: thin;
}

.dayclick .btn-group {
    float: right;
}

.dayclick .plsidrop {
    font-size: 24px;
    color: #fff;
    z-index: 999999999;
    opacity: 0;
    position: absolute;
    right: 0;
}

.dayclick:hover .plsidrop {
    float: right;
    margin-top: 5px;
    font-size: 24px;
    color: #37bbe4;
    z-index: 99999999;
    opacity: 1;
    position: absolute;
    right: 0;
}

.dayclick .dropdown-toggle::after {
    content: none;
}

.tab-pane h3 {
    font-size: 20px;
}
.caltbl .table thead th {
    text-align: center;
}

.event-show .eve-day {
    color: #049092 !important;
    border-top: 1px solid#eee;
    border-bottom: 1px solid #eee;
}

.inputGroup {
    display: block;
    float: left;
    text-align: left;
    margin: 0px 2px 0px;
    border-radius: 4px;
    position: relative;
}

    .inputGroup label {
        padding: 7px 50px 6px 12px;
        width: 100%;
        margin: 0px;
        border-radius: 4px;
        display: block;
        text-align: left;
        cursor: pointer;
        position: relative;
        z-index: 2;
        font-size: 13px;
        transition: color 200ms ease-in;
        overflow: hidden;
        color: #fff !important;
        font-weight: 400;
        font-size: .8171em;
    }

        .inputGroup label:before {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background-color: #00a1b2;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 0;
            z-index: -1;
        }

        .inputGroup label:after {
            width: 26px;
            height: 26px;
            content: '';
            border: 2px solid rgba(0,0,0,0.3);
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: 0px 0px;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            right: 10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 200ms ease-in;
        }

    .inputGroup input:checked ~ label {
        color: #fff;
    }

        .inputGroup input:checked ~ label:before {
            -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
        }

        .inputGroup input:checked ~ label:after {
            background-color: #4ab9bd;
            border-color: #4ab9bd;
        }

    .inputGroup input {
        width: 28px;
        height: 28px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }

.bgcol-white {
    background-color: #f5f5f5 !important;
    color: #104070 !important;
}

.bgbdr-white {
    background-color: #fff !important;
    border: 1px solid #dddd !important;
    color: #104070 !important;
}

    .bgbdr-white label {
        color: #104070 !important
    }

.bgcol-white label {
    color: #104070 !important
}

.size-mark {
    width: 11px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
}

.bgcol-white input:checked ~ label {
    color: #fff !important;
}

.bgbdr-white input:checked ~ label {
    color: #fff !important;
}

td .marks {
    height: 11px;
}

.mb-15px {
    margin-bottom: 15px;
}

.lv-item h4 {
    margin: 0px;
    color: #104070;
    font-size: 18px
}

.lv-item p {
    margin-bottom: 0px;
}

.lv-item {
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: #999;
    padding: 1em;
    font-weight: normal;
    text-align: left;
    text-shadow: none;
    padding-left: 4.55em;
}

.lv-item-icon {
    position: absolute;
    margin-top: -56px;
    height: 2em;
    line-height: 2.05em !important;
    text-align: center;
    left: 1em;
    font-size: 35px !important;
    color: #ccc;
}

.mrgn-tb-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.none_area {
    background: #fff
}
.clsworkingpatrrentime [data-toggle="buttons"] > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.clsworkingpatrrentime [data-toggle="buttons"] > .btn {
    padding: 4px 10px;
    border-radius: 2px;
    font-weight: 700;
}

.remdi th {
    padding: 2px 5px !important;
    font-size: 16px;
    font-weight: bold;
}

.remdi td {
    padding: 0px 0px !important;
}

.clsworkingpatrrentime .btn-group-toggle .btn {
    padding: 8px 12px;
    border-radius: 2px;
    font-weight: 700;
}

.two {
    display: none;
}

.btn-toggle-primary {
    color: #888 !important;
    border-color: #888
}

    /* .btn-toggle-primary:hover {
            color: #fff !important;
            background-color: #467bf7;
            border-color: #467bf7
        }
*/
    .btn-toggle-primary:not(:disabled):not(.disabled):active {
        color: #fff !important;
        background-color: #467bf7;
        border-color: #467bf7
    }

    .btn-toggle-primary:not(:disabled):not(.disabled).active {
        color: #fff !important;
        background-color: #467bf7;
        border-color: #467bf7
    }

.btntoggleprimaryactive {
    color: #fff !important;
    background-color: #467bf7;
    border-color: #467bf7
}

.clsworkingpatrrentime th {
    background: #f3f3f5 !important;
    font-size: 13px;
}

.bgchange {
    margin-bottom: 24px;
}

    .bgchange h4 {
        color: #000;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.250em;
        background: #e7e8ea;
    }
.file_folder a .btnhover {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    float: right;
    z-index: 9999;
    display: none;
    position: absolute;
    right: 2px;
    padding: 2px 5px 0px;
    margin-top: 2px;
}

.file_folder a:hover .btnhover {
    display: block;
}


.jq-toast-wrap {
    z-index: 99999999 !important;
}

#empFixed {
    position: relative;
    width: calc(100vw - 289px);
}

.pbfixed {
    background: #e9edf0;
    position: fixed;
    z-index: 1;
}

.show-head {
    background: #e9edf0;
    position: fixed;
    z-index: 999999;
    width: calc(100vw - 235px);
}

.img-area .over-layer {
    position: absolute;
    bottom: 28px;
    left: 140px;
    width: 36px;
    cursor: pointer;
    height: 36px;
    opacity: 1;
    background: transparent;
    transition: all 0.30s ease;
    border-radius: 40px;
}

a.link {
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none !important;
    background: transparent;
}

.over-layer input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.wid__30 {
    width: 30%;
}

.wid__60 {
    width: 60%;
}

.pb-25 {
    padding-bottom: 25px;
}

.display-non {
    display: none !important;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.tab {
    font-family: 'Barlow', sans-serif;
}

    .tab .nav-tabs {
        border: none;
    }

        .tab .nav-tabs li a {
            color: #666;
            background: #fff;
            font-size: 19px;
            font-weight: 500;
            text-transform: capitalize;
            padding: 8px 25px 10px;
            margin: 0 10px 0 0;
            border: none;
            border-top: 3px solid #0670bc;
            border-radius: 0;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
            overflow: hidden;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease 0s;
        }

            .tab .nav-tabs li.active a,
            .tab .nav-tabs li a:hover,
            .tab .nav-tabs li.active a:hover {
                color: #fff;
                background: transparent;
                border: none;
                border-top: 3px solid #0670bc;
            }

            .tab .nav-tabs li a:before,
            .tab .nav-tabs li a:after {
                content: "";
                background-color: #0670bc;
                width: 50%;
                height: 100%;
                opacity: 0;
                transform: perspective(300px) rotateX(-100deg);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all 0.4s ease 0s;
            }

            .tab .nav-tabs li a:after {
                transform: perspective(300px) rotateX(100deg);
                left: auto;
                right: 0;
                transition: all 0.4s ease 0.1s;
            }

            .tab .nav-tabs li.active a:before,
            .tab .nav-tabs li a:hover:before,
            .tab .nav-tabs li.active a:after,
            .tab .nav-tabs li a:hover:after {
                opacity: 1;
                transform: perspective(300px) rotateX(0);
            }

    .tab .tab-content {
        color: #555;
        background: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 25px;
        padding: 20px;
        border-bottom: 4px solid #0670bc;
        box-shadow: 0 0 7px rgba(0,0,0,0.1) inset;
        position: relative;
    }
    