<script id="cnd_calendar_template" type="text/x-jQuery-tmpl">
    <!--Tabs-->
    <ul class="nav nav-tabs nav-justified  p-0 mb-0 tabs bdr-tp-n calendar_tabs" role="tablist">
        <li id="limonth" role="presentation" class="calendarview nav-item Evt_calendar active" data-action="dataview" data-viewtype="month">
            <a href="#month" aria-controls="month" role="tab" class="nav-link show font-18 active" data-toggle="tab" aria-selected="true">Month</a>
        </li>
        <li id="liweek" role="presentation" class="calendarview nav-item Evt_calendar" data-action="dataview" data-viewtype="week">
            <a href="#week" aria-controls="week" role="tab" class="nav-link font-18" data-toggle="tab" aria-selected="false">Week</a>
        </li>
        <!--<li role="presentation" class="calendarview nav-item Evt_calendar" data-action="dataview" data-viewtype="day">
            <a href="#day" aria-controls="day" role="tab" class="nav-link font-18" data-toggle="tab" aria-selected="false">Day</a>
        </li>-->
    </ul>
    <div class="tab-content" style="padding:0 15px">
        <div role="tabpanel" class="tab-pane active po1" id="month">
            <div class="eve_calendar">
                <div class="">
                    <!--Navigator-->
                    <div class="row mbsc-justify-content-between calendar-month-header">
                        {{each(i,list0) CndCalender}}
                        {{each(i,list) HeadDates}}
                        <div class="col-md-2  text-center">
                            <div class="calendar-month-navigation calendar-month-previous Evt_calendar clsnav" data-action="navigate" data-val="{{if view_type=='week'}}${firstdate_prev_week}{{else}}${firstdate_prev_month}{{/if}}" data-direction="prev">
                                <span><span class="fa fa-arrow-left font-24"></span></span>
                            </div>
                        </div>
                        <div class="col-md-7 text-center">
                            <span class="head-lngh calendar-month-title bold">{{if view_type=='week'}}${calendar_title.split('#')[0]} ( ${calendar_title.split('#')[1]} ){{else}}${calendar_title.split('#')[0]}{{/if}}</span>
                        </div>
                        <div class="col-md-2  text-right">
                            <div class="calendar-month-navigation calendar-month-next Evt_calendar clsnav" data-action="navigate" data-val="{{if view_type=='week'}}${firstdate_next_week}{{else}}${firstdate_next_month}{{/if}}" data-direction="next">
                                <span><span class="fa fa-arrow-right font-24"></span></span>
                            </div>
                        </div>
                        {{/each}}
                        {{/each}}
                    </div>

                    <!--Calendar Header-->
                    <div class="row calendar-day-header">
                        <div class="col clndr-head Evt_calendar" data-action="check_header">Mon<div class="chk"><input type="checkbox" class="chkdayheader" id="chk-mon" name="chk-mon" data-day-name="day-Monday" /><label for="chk-mon">&nbsp;</label></div></div>
                        <div class="col clndr-head Evt_calendar" data-action="check_header">Tue<div class="chk"><input type="checkbox" class="chkdayheader" id="chk-tue" name="chk-tue" data-day-name="day-Tuesday" /><label for="chk-tue">&nbsp;</label></div></div>
                        <div class="col clndr-head Evt_calendar" data-action="check_header">Wed<div class="chk"><input type="checkbox" class="chkdayheader" id="chk-wed" name="chk-wed" data-day-name="day-Wednesday" /><label for="chk-wed">&nbsp;</label></div></div>
                        <div class="col clndr-head Evt_calendar" data-action="check_header">Thu<div class="chk"><input type="checkbox" class="chkdayheader" id="chk-thu" name="chk-thu" data-day-name="day-Thursday" /><label for="chk-thu">&nbsp;</label></div></div>
                        <div class="col clndr-head Evt_calendar" data-action="check_header">Fri<div class="chk"><input type="checkbox" class="chkdayheader" id="chk-fri" name="chk-fri" data-day-name="day-Friday" /><label for="chk-fri">&nbsp;</label></div></div>
                        <div class="col clndr-head Evt_calendar" data-action="check_header">Sat<div class="chk"><input type="checkbox" class="chkdayheader" id="chk-sat" name="chk-sat" data-day-name="day-Saturday" /> <label for="chk-sat">&nbsp;</label></div></div>
                        <div class="col clndr-head Evt_calendar" data-action="check_header">Sun<div class="chk"><input type="checkbox" class="chkdayheader" id="chk-sun" name="chk-sun" data-day-name="day-Sunday" /><label for="chk-sun">&nbsp;</label></div></div>
                    </div>

                    <!--Calendar Body-->
                    <div class="row calendar-day-date cldr-row">
                        {{each CndCalender}}
                        {{each Calendar}}
                        {{if is_current_month=='0'}}
                        <div class="col clndr-td" style="background-color:{{if is_current_month=='0'}}#f7f4f4;{{/if}}">
                            <div class="day" style="color:{{if is_current_month=='0'}}#8E959F;{{/if}} padding-top:25px;font-size:13px;">${date.split("/")[0]}</div>
                        </div>
                        {{else}}
                        <div class="col clndr-td dayclick Evt_calendar day-${day} {{each Event_List}}{{if event_is_all_day=='Yes' && event_action=='available'}}available_show{{else event_is_all_day=='Yes' && event_action=='unavailable'}}unavailable_show{{/if}} {{/each}}" data-action="check">
                            <div class="btn-group clstags">
                                <i class="fa fa-plus plsidrop dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp;</i>
                                <div class="dropdown-menu">
                                    <li class="Evt_calendar clsAvailableOption" data-action="add-event" data-popup="addEvent" data-event-starttime="custom" data-event-startdate="${date}" data-hide=".event-show, .addjob_area, .prev_job_area, .thanks_job_area" data-show=".addevent_area"><a>Add Event</a></li>
                                    <!--<li class="Evt_calendar clsJobOption" data-action="add-job" data-popup="addCNDJob" data-event-startdate="${date}" data-hide=".event-show, .addevent_area, .prev_job_area, .thanks_job_area" data-show=".addjob_area"><a>Add Job</a></li>-->
                                </div>
                            </div>
                            <div class="chk chkdiv" id="chk-${date_num}-${day}">
                                <input id="chk-${date_num}-${day}" name="chk-${date_num}-${day}" type="checkbox" class="chkeventdate chk-day-${day}" data-event-startdate="${date}" data-cell-number="${day}-${weeknumber}">
                                <label for="chk-${date_num}-${day}"><div class="day" style="padding-top:0px;">${date.split("/")[0]}</div></label>
                            </div>
                            <div class="marks">
                                {{each Event_List}}
                                <div class="size-mark ${event_color} ${event_action} cls-other" data-event-startdate="${eventstart_date}" data-event-type="${event_type}" title="${event_type}"></div>
                                {{/each}}
                            </div>
                            <div class="clsreadonly" style="display:none;font-size: 10px;">
                                {{each Event_List}}
                                {{if event_action=="job"}}
                                <div style="color:Highlight; border:1px solid Highlight; padding:1px 0px; margin:1px 0">${event_type}<br />${start_time}-${end_time}</div>
                                {{/if}}

                                {{if event_action=="available"}}
                                <div style="color:green; border:1px solid green; padding:1px 0px; margin:1px 0">${event_type} ${start_time.slice(-2)}<br />${start_time}-${end_time}</div>
                                {{/if}}
                                {{if event_action=="unavailable"}}
                                <div style="color:red; border:1px solid red; padding:1px 0px; margin:1px 0">${event_type} ${start_time.slice(-2)}<br />${start_time}-${end_time}</div>
                                {{/if}}

                                {{/each}}
                            </div>
                        </div>

                        {{/if}}
                        {{if day=='Sunday'}}
                    </div>
                    <div class="row calendar-day-date cldr-row">
                        {{/if}}
                        {{/each}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="cnd_viewlist_template" type="text/x-jQuery-tmpl">
    <div class="col-tab-rigt" style="background-color:#EDF1F5;width:100%!important;">
        <div id="actionbuttons" class="legend" style="margin-top: 0px;margin-bottom: 5px;">
            <div class="btn-group">
                <div class="btn-group clsAvailableOption" style="display:none" role="group">
                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Set Available</span>&nbsp; <b class="badge badge-warning availableEventsCount"></b></button>
                    <ul class="dropdown-menu" style="width:220px;">
                        <p><i class="fa fa-circle availabl">&nbsp;</i><b>Available</b></p>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="Available" data-event-starttime="00:00" data-event-endtime="23:59">  <a><i class="">&nbsp;</i>All Day<span>  (00:00 - 23:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="Available" data-event-starttime="08:00" data-event-endtime="11:59">  <a><i class="">&nbsp;</i>Morning<span>  (08:00 - 11:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="Available" data-event-starttime="12:00" data-event-endtime="17:59">  <a><i class="">&nbsp;</i>Afternoon<span>(12:00 - 17:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="Available" data-event-starttime="18:00" data-event-endtime="23:59">  <a><i class="">&nbsp;</i>Evening<span>  (18:00 - 23:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="Available" data-event-starttime="00:00" data-event-endtime="07:59">  <a><i class="">&nbsp;</i>Night<span>    (00:00 - 07:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="Available" data-event-starttime="custom" data-event-endtime="custom" data-popup="addEvent"><a><i class="">&nbsp;</i>Custom</a></li>
                    </ul>
                </div>
                <div class="btn-group clsAvailableOption" style="display:none" role="group">
                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Set Unavailable</span>&nbsp; <b class="badge badge-warning unAvailableEventsCount"></b></button>
                    <ul class="dropdown-menu" style="width:220px;">
                        <p><i class="fa fa-circle unavailabl">&nbsp;</i><b>UnAvailable</b></p>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="UnAvailable" data-event-starttime="00:00" data-event-endtime="23:59">  <a><i class="">&nbsp;</i>All Day<span>  (00:00 - 23:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="UnAvailable" data-event-starttime="08:00" data-event-endtime="11:59">  <a><i class="">&nbsp;</i>Morning<span>  (08:00 - 11:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="UnAvailable" data-event-starttime="12:00" data-event-endtime="17:59">  <a><i class="">&nbsp;</i>Afternoon<span>(12:00 - 17:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="UnAvailable" data-event-starttime="18:00" data-event-endtime="23:59">  <a><i class="">&nbsp;</i>Evening<span>  (18:00 - 23:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="UnAvailable" data-event-starttime="00:00" data-event-endtime="07:59">  <a><i class="">&nbsp;</i>Night<span>    (00:00 - 07:59)</span></a></li>
                        <li class="Evt_calendar" data-action="add-event" data-eventtype="UnAvailable" data-event-starttime="custom" data-event-endtime="custom" data-popup="addEvent" data-event-startdate=""><a><i class="">&nbsp;</i>Custom</a></li>
                    </ul>
                </div>

                <div class="btn-group" role="group">
                    <!--<button type="button" class="btn btn-outline-primary cnd-cldr-add-job clsJobOption Evt_calendar" data-action="add-job" data-popup="addCNDJob" data-event-startdate="">Add Job</button>-->
                    <button type="button" class="btn btn-outline-primary cnd-cldr-add-event clsAvailableOption Evt_calendar" data-action="add-event" data-popup="addEvent" data-event-starttime="custom" data-event-startdate="">Add Event</button>
                    <!--<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><b>Add New</b><span class="caret"></span></button>
                    <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <li class="cnd-cldr-add-event clsAvailableOption Evt_calendar" data-action="add-event" data-popup="addEvent" data-event-starttime="custom" data-event-startdate=""><a>Add New Event</a></li>
                        <li class="cnd-cldr-add-job clsJobOption Evt_calendar" data-action="add-job" data-popup="addCNDJob" data-event-startdate=""><a>Add New Job</a></li>
                    </ul>-->

                </div>
            </div>
        </div>
        <div class="event-show" style="overflow-y: scroll; background: white;">
            {{each(i,list5) CndCalender}}
            {{each Event_Summary}}
            <div class="eve-title eve-day main-date-strip-1  week-number${weeknumber} ${event_action} cls-other ${day_name}-${weeknumber}" data-event-count="1" data-available-count="0" data-unavailable-count="1" data-task-count="0">${eventstart_date}</div>
            <div class="eve-item  main-date-strip-1  week-number${weeknumber} ${event_action} cls-other ${day_name}-${weeknumber}" title="${event_detail.split(" @@")[2]}" data-eventtype="${event_type}" data-eventstart_date="${eventstart_date}" data-eventstart_time="${eventstart_time}" data-eventend_date="${eventend_date}" data-eventend_time="${eventend_time}" data-event-count="1" data-available-count="0" data-unavailable-count="1" data-task-count="0">
                <div class="eve-time">
                    {{if event_detail.split("@@")[3].trim()=="All Day"}}
                    ${event_detail.split("@@")[3]}
                    {{else}}
                    ${eventstart_time} - ${eventend_time}
                    {{/if}}

                </div>
                <div class="eve-color" style="background:${event_detail.split("@@")[1]};padding:3px;"></div>
                <div class="eve-txt font-14">
                    {{if event_cat=="JOB"}}
                    <span style="color:${event_detail.split("@@")[1]}; font-weight:bold">${event_type}</span><br>
                    <span>{{if event_detail.split("@@")[5]==''}}<i class=""></i>{{else}}<i class="zmdi zmdi-city col-grey"></i>&nbsp;${event_detail.split("@@")[5]}{{/if}}</span><br>
                    <span>{{if event_detail.split("@@")[6]==''}}<i class=""></i>{{else}}<i class="zmdi zmdi-pin col-grey">&nbsp;</i>${event_detail.split("@@")[6]}{{/if}}</span>
                    {{else}}
                    <span style="color:${event_detail.split("@@")[1]}; font-weight:bold">${event_type}</span><br>
                    {{if !event_title==""}}
                    <span style="color:#1d44b7">${event_title}</span><br>
                    {{/if}}
                    {{if !event_desc==""}}
                    <span style="color:#807878">${event_desc.substring(0,100)}</span><br>
                    {{/if}}

                    {{/if}}
                </div>

                <div class="editdelethover">
                    {{if event_cat=="EVENT"}}
                    <a class="btn btn-sm btn-outline-primary Evt_calendar" data-action="edit-event"  data-id="${event_id}" data-event-date="${eventstart_date}-${eventend_date}" data-event-time="${eventstart_time}-${eventend_time}" data-event-title="${event_title}" data-event-desc="${event_desc}" data-event-type="${event_type}" data-time-slot="${event_detail.split(" @@")[3]}" data-title="Edit" title="Edit" data-popup="addEvent"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-sm btn-outline-danger  Evt_calendar red" data-action="delete_event" data-id="${event_id}" data-type="Event" data-event-type="${event_type}" data-event-date="${eventstart_date}" data-event-desc="${event_type} [ ${eventstart_date} ${eventstart_time}-${eventend_time}]" title="Delete" data-toggle="modal" data-target="#modalCNDCldrDelete"><i class="fa fa-trash"></i></a>
                    {{/if}}
                </div>
            </div>
            {{/each}}
            {{/each}}
        </div>
    </div>
</script>







